mat-card-content {
  direction: rtl !important;
  text-align: right !important;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  font-size: 20px !important;
}
.leave-container {
  padding: 20px !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 20px !important;
}

.form-row {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 20px !important;
  direction: rtl !important;
}

mat-form-field {
  width: 200px !important;
}

.full-width {
  flex: 1 !important;
}

.filter-card {
  display: flex !important;
  justify-content: right !important;
  justify-content: flex-start !important;
  gap: 16px !important;
}

.table-card {
  overflow: auto !important;
  direction: rtl !important;

}
th {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  text-align: center !important;
  background-color: black !important;
}
.mat-elevation-z8 {
  font-family: 'Courier New', Courier, monospace !important;
  font-size: xx-small !important;
}
.btn-submit {
  width: 90px !important;
  height: 30% !important;
  border-radius: 5px !important;
  justify-content: left !important;
  margin-right: 93% !important;
  background-color: #5e35b1 !important;
  color: white !important;
  text-align: center !important;
}
.summary-card{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: medium !important;
  font-weight: 100 !important;
  font-size: 10px !important;
  
}