<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" position="start" opened class="sidenav">
    <div class="sidebar-profile card">
  <div class="avatar" *ngIf="avatar; else noavatar"><img [src]="avatar" alt="avatar"/></div>
  <ng-template #noavatar><div class="avatar placeholder">🙂</div></ng-template>
  <div class="name">{{ username || 'کاربر' }}</div>
  <div class="role">پرتال منابع انسانی</div>
</div>
<div class="sidebar-header">
      <img src="assets/Arm1.png" class="sidebar-logo" alt="Logo" />
      <h3 class="sidebar-title">منوی سامانه</h3>
    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="/assets/icons/bell.svg" class="icon" />
            اعلان‌ها
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item [routerLink]="'/notifications'">
            <img src="/assets/icons/bell.svg" class="icon" />
            مرکز اعلان‌ها
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    
      <!-- بخش حقوق -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="/assets/icons/money.svg" class="icon" />
            حقوق و دستمزد
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item [routerLink]="'/register-hourse'">
            <img src="/assets/icons/clock.svg" class="icon" />
            ثبت ساعت
          </mat-list-item>
          <mat-list-item [routerLink]="'/leave'">
            <img src="/assets/icons/leave.svg" class="icon" />
            درخواست مرخصی
          </mat-list-item>
          <mat-list-item [routerLink]="'/mission'">
            <img src="/assets/icons/mission.svg" class="icon" />
            مأموریت
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <!-- بخش گزارش -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="/assets/icons/reports.svg" class="icon" />
            گزارشات
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item [routerLink]="'/employee-directory'">
            <img src="/assets/icons/users.svg" class="icon" />
            فهرست کارکنان
          </mat-list-item>
          <mat-list-item [routerLink]="'/documents'">
            <img src="/assets/icons/folder.svg" class="icon" />
            مستندات
          </mat-list-item>
          <mat-list-item [routerLink]="'/help'">
            <img src="/assets/icons/help.svg" class="icon" />
            راهنما
          </mat-list-item>
          <mat-list-item [routerLink]="'/work-report'">
            <img src="/assets/icons/chart.svg" class="icon" />
            گزارش ثبت‌ساعت
          </mat-list-item>
          <mat-list-item [routerLink]="'/leave-calendar'">
            <img src="/assets/icons/calendar.svg" class="icon" />
            تقویم مرخصی
          </mat-list-item>
          <mat-list-item [routerLink]="'/bills'">
            <img src="/assets/icons/bill.svg" class="icon" />
            فیش حقوقی
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
    <div style="margin-top:auto;padding-top:8px;border-top:1px dashed rgba(255,255,255,0.1)">
      <mat-list>
        <mat-list-item [routerLink]="'/settings'">
          <img src="/assets/icons/gear.svg" class="icon" />
          تنظیمات
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

