 <div class="row">
  <div class="container">
    <mat-card appearance="outlined">
    <mat-card-content>فیش حقوقی</mat-card-content>
    </mat-card>
  </div>
   <mat-card>
    <mat-label>ماه :
     <mat-form-field appearance="fill">
       <mat-label></mat-label>
       <mat-select [(value)]="selectedOption">
        <mat-option *ngFor="let option of options" [value]="12">
           {{ option.viewValue }}
        </mat-option>
       </mat-select>
     </mat-form-field>
    </mat-label>
   </mat-card>   
<br> 

<mat-card>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
           
  <!-- Position Column -->
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef> ردیف </th>
    <td mat-cell *matCellDef="let element"> {{element.index}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="receiptNumber">
    <th mat-header-cell *matHeaderCellDef> شماره فیش</th>
    <td mat-cell *matCellDef="let element"> {{element.receiptNumber}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> سال </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="month">
    <th mat-header-cell *matHeaderCellDef> ماه</th>
    <td mat-cell *matCellDef="let element"> {{element.month}} </td>
  </ng-container>
   
  <ng-container matColumnDef="operation">
    <th mat-header-cell *matHeaderCellDef> عملیات </th>
    <td mat-cell *matCellDef="let element"> {{element.operation}}
      <button mat-button>
  <img src="assets/icons/download.png" alt="دانلود" width="16" height="16" style="margin-left: 4px;">
</button>
    </ng-container>        
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
</mat-card>
</div>
